# Compiled output
packages/*/lib/
packages/*/lib-cjs/
packages/*/lib-esm/
packages/*/docs/

# Other
node_modules/
vendor/
target/
build/
out/
tmp/
sandbox/
backup/
.cache/
.vscode/
.idea/
*.log
*.tgz
*.tsbuildinfo
*~
